# Compiled object files
*.o
*.obj


# keep .cpp and .md and .gitignore files
!*.cpp
!*.md
!.gitignore

# Precompiled Headers
*.gch

# Compiled dynamic libraries
*.so
*.dylib
*.dll

# Executables and output files
*.out
program
*
!*/
!*.*

# VS Code
.vscode/

# macOS
.DS_Store

# Windows
Thumbs.db

# Logs and temporary files
*.log
*.tmp
.idea/